In [1]:
from finance_python.stock import stock
import sys, os, time
import numpy as np
import pandas
from datetime import datetime, date, timedelta
from pandas import DataFrame

In [2]:
symbols = ['H.TO']
start = date.today() - timedelta(days=365)
end = date.today()

In [3]:
stock_loop = lambda x: stock(x, start, end)

In [4]:
timer_start = time.time()

stocks = list(map(stock_loop, symbols))

timer_end = time.time()
print(timer_end - timer_start)

6.136404991149902

In [8]:
H = stocks[0]

In [9]:
H.description

'Hydro One Limited, through its subsidiaries, operates as an electrical transmission and distribution company in Ontario. It operates through three segments: Transmission, Distribution, and Other Business. The company owns and operates approximately 123,000 circuit kilometers of low-voltage distribution network. It serves approximately 1.3 million residential, small business, commercial, and industrial customers. The company also provides telecommunications support services for its transmission and distribution businesses; and communications and information technology solutions to organizations for broadband network connectivity. Hydro One Limited was incorporated in 2015 and is headquartered in Toronto, Canada.'

In [10]:
H.sector

'Utilities - Regulated Electric'

In [16]:
H.dividends[0].set_index('Date')

                                                          Dividends
Date
Jun 11, 2019                                        0.2415 Dividend
Mar 12, 2019                                          0.23 Dividend
Dec 10, 2018                                          0.23 Dividend
Sep 10, 2018                                          0.23 Dividend
*Close price adjusted for splits.**Adjusted clo...              NaN

In [17]:
H.stats()

In [18]:
H.attributes

[['dividends', 'sector', 'description', 'history', 'price'],
 ['stats()', 'balance()', 'financial()', 'cash()', 'analyze()'],
 ['statistics', 'stats_list']]

In [20]:
H.statistics.dropna()

                                                   H.TO
Market Cap (intraday) 5                         1468.00
Forward P/E 1                                     17.47
PEG Ratio (5 yr expected) 1                        3.87
Price/Sales (ttm)                                  2.34
Price/Book (mrq)                                   1.60
Enterprise Value/Revenue 3                         4.41
Enterprise Value/EBITDA 6                         13.19
Beta (3Y Monthly)                                  0.03
52-Week Change 3                                  27.49
S&P500 52-Week Change 3                            0.81
52 Week High 3                                    24.64
52 Week Low 3                                     18.95
50-Day Moving Average 3                           23.70
200-Day Moving Average 3                          22.19
Shares Outstanding 5                             596.01
Float                                            314.38
Shares Short (Aug 15, 2019) 4                      8.67
Short Ratio (Aug 15, 2019) 4                      13.45
Short % of Shares Outstanding (Aug 15, 2019) 4     1.45
Shares Short (prior month Jul 15, 2019) 4          9.31
Forward Annual Dividend Rate 4                     0.97
Forward Annual Dividend Yield 4                    3.95
Trailing Annual Dividend Rate 3                    0.93
Trailing Annual Dividend Yield 3                   3.80
Profit Margin                                     -2.66
Operating Margin (ttm)                            21.61
Return on Assets (ttm)                             3.20
Return on Equity (ttm)                            -1.60
Revenue Per Share (ttm)                           10.52
Quarterly Revenue Growth (yoy)                    -4.30
Net Income Avi to Common (ttm)                  -185.00
Diluted EPS (ttm)                                 -0.32
Quarterly Earnings Growth (yoy)                  -22.10
Total Cash (mrq)                                  35.00
Total Cash Per Share (mrq)                         0.06
Total Debt/Equity (mrq)                          130.07
Current Ratio (mrq)                                0.41
Book Value Per Share (mrq)                        15.43
Levered Free Cash Flow (ttm)                    -117.12

In [21]:
H.price

24.49

In [22]:
H.balance()

In [23]:
H.attributes

[['dividends', 'sector', 'description', 'history', 'price'],
 ['stats()', 'balance()', 'financial()', 'cash()', 'analyze()'],
 ['statistics', 'stats_list'],
 ['balance_sheet', 'bs_list']]

In [47]:
H.balance_sheet.dropna()

Period Ending,12/31/2018,12/31/2017,12/31/2016,12/31/2015,Changes
H.TO,,,,,
Cash And Cash Equivalents,483000.0,25000.0,50000.0,94000.0,4.138298
Net Receivables,883000.0,889000.0,996000.0,967000.0,-0.086867
Inventory,20000.0,18000.0,19000.0,21000.0,-0.047619
Other Current Assets,64000.0,46000.0,37000.0,55000.0,0.163636
Total Current Assets,1491000.0,1019000.0,1148000.0,1166000.0,0.278731
"Property, plant and equipment",20687000.0,19947000.0,19140000.0,17968000.0,0.151325
Goodwill,325000.0,325000.0,327000.0,163000.0,0.993865
Intangible Assets,410000.0,369000.0,349000.0,336000.0,0.220238
Other Assets,2744000.0,4041000.0,4387000.0,4661000.0,-0.411285
Deferred Long Term Asset Charges,1018000.0,987000.0,1235000.0,1636000.0,-0.377751
Total Assets,25657000.0,25701000.0,25351000.0,24294000.0,0.056104
Accounts Payable,268000.0,334000.0,328000.0,293000.0,-0.085324
Short/Current Long Term Debt,731000.0,752000.0,602000.0,500000.0,0.462000
Total Current Liabilities,3028000.0,2740000.0,2163000.0,2997000.0,0.010344
Long Term Debt,10467000.0,9802000.0,10078000.0,8207000.0,0.275375
Other Liabilities,2519000.0,2906000.0,3021000.0,3166000.0,-0.204359
Deferred Long Term Liability Charges,1721000.0,3049000.0,3145000.0,3015000.0,-0.429187
Minority Interest,70000.0,72000.0,72000.0,75000.0,-0.066667
Total Liabilities,16014000.0,15448000.0,15262000.0,14370000.0,0.114405
Common Stock,5643000.0,5631000.0,5623000.0,5623000.0,0.003557
Retained Earnings,3459000.0,4090000.0,3950000.0,3806000.0,-0.091172
Treasury Stock,-3000.0,-7000.0,-8000.0,-8000.0,-0.625000
Capital Surplus,56000.0,49000.0,34000.0,10000.0,4.600000
Other Stockholder Equity,-3000.0,-7000.0,-8000.0,-8000.0,-0.625000
Total stockholders' equity,9155000.0,9763000.0,9599000.0,9431000.0,-0.029265
Net Tangible Assets,8420000.0,9069000.0,8923000.0,8932000.0,-0.057322

In [46]:
H_bs = H.balance_sheet.dropna()
H_bs.T['Long Term Debt'][0]/H_bs.T['Cash And Cash Equivalents'][0]

21.67080745341615

In [45]:
H_bs.T['Cash And Cash Equivalents']

Period Ending
12/31/2018    483000.000000
12/31/2017     25000.000000
12/31/2016     50000.000000
12/31/2015     94000.000000
Changes            4.138298
Name: Cash And Cash Equivalents, dtype: float64

In [26]:
H.cash()

In [27]:
H.attributes

[['dividends', 'sector', 'description', 'history', 'price'],
 ['stats()', 'balance()', 'financial()', 'cash()', 'analyze()'],
 ['statistics', 'stats_list'],
 ['balance_sheet', 'bs_list'],
 ['cashflow', 'cash_list']]

In [29]:
H.cashflow.dropna()

Period Ending,12/31/2018,12/31/2017,12/31/2016,12/31/2015,Changes
H.TO,,,,,
Net Income,-71000.0,676000.0,740000.0,703000.0,-1.100996
Depreciation,725000.0,703000.0,668000.0,649000.0,0.117103
Adjustments To Net Income,922000.0,200000.0,94000.0,-2832000.0,-1.325565
Changes In Accounts Receivables,11000.0,195000.0,-60000.0,245000.0,-0.955102
Changes In Liabilities,2000.0,7000.0,19000.0,-23000.0,-1.086957
Changes In Other Operating Activities,-36000.0,-89000.0,173000.0,-11000.0,2.272727
Total Cash Flow From Operating Activities,1575000.0,1716000.0,1656000.0,-1248000.0,-2.262019
Capital Expenditure,-1418000.0,-1467000.0,-1600000.0,-1595000.0,-0.110972
Other Cash flows from Investing Activities,22000.0,7000.0,24000.0,63000.0,-0.650794
Total Cash Flows From Investing Activities,-1516000.0,-1540000.0,-1861000.0,-1712000.0,-0.114486
Dividends Paid,-560000.0,-536000.0,-596000.0,-88000.0,5.363636
Net Borrowings,973000.0,368000.0,776000.0,1254000.0,-0.224083
Other Cash Flows from Financing Activities,-14000.0,-33000.0,-19000.0,-12000.0,0.166667
Total Cash Flows From Financing Activities,399000.0,-201000.0,161000.0,2954000.0,-0.864929
Change In Cash and Cash Equivalents,458000.0,-25000.0,-44000.0,-6000.0,-77.333333

In [31]:
H.financial()

In [32]:
H.attributes

[['dividends', 'sector', 'description', 'history', 'price'],
 ['stats()', 'balance()', 'financial()', 'cash()', 'analyze()'],
 ['statistics', 'stats_list'],
 ['balance_sheet', 'bs_list'],
 ['cashflow', 'cash_list'],
 ['financials', 'fin_list']]

In [34]:
H.financials.dropna()

Period Ending,12/31/2018,12/31/2017,12/31/2016,12/31/2015,Changes
H.TO,,,,,
Total Revenue,6150000.0,5990000.0,6552000.0,6538000.0,-0.059345
Cost of Revenue,3993000.0,3921000.0,4496000.0,4585000.0,-0.129117
Gross Profit,2157000.0,2069000.0,2056000.0,1953000.0,0.104455
Total Operating Expenses,4830000.0,4738000.0,5274000.0,5344000.0,-0.096183
Operating Income or Loss,1320000.0,1252000.0,1278000.0,1194000.0,0.105528
Total Other Income/Expenses Net,-470000.0,-459000.0,-393000.0,-376000.0,0.250000
Earnings Before Interest and Taxes,1320000.0,1252000.0,1278000.0,1194000.0,0.105528
Interest Expense,-470000.0,-424000.0,-379000.0,-365000.0,0.287671
Income Before Tax,850000.0,793000.0,885000.0,818000.0,0.039120
Income Tax Expense,915000.0,111000.0,139000.0,105000.0,7.714286
Minority Interest,70000.0,72000.0,72000.0,75000.0,-0.066667
Net Income From Continuing Ops,-65000.0,682000.0,746000.0,713000.0,-1.091164
Net Income,-71000.0,676000.0,740000.0,703000.0,-1.100996
Net Income Applicable To Common Shares,-89000.0,658000.0,721000.0,690000.0,-1.128986

In [35]:
H.analyze()

In [36]:
H.revenue

[['dividends', 'sector', 'description', 'history', 'price'],
 ['stats()', 'balance()', 'financial()', 'cash()', 'analyze()'],
 ['statistics', 'stats_list'],
 ['balance_sheet', 'bs_list'],
 ['cashflow', 'cash_list'],
 ['financials', 'fin_list'],
 ['earnings_est',
  'revenue',
  'earnings_history',
  'eps_trend',
  'eps_revisions',
  'growth_estimates',
  'a_list']]

In [41]:
H.growth_estimates

                            H.TO  Industry  Sector  S&P 500
Growth Estimates
Current Qtr.              -2.60%       NaN     NaN     0.00
Next Qtr.                 -3.40%       NaN     NaN     0.08
Current Year               7.40%       NaN     NaN     0.03
Next Year                 -2.80%       NaN     NaN     0.10
Next 5 Years (per annum)   4.36%       NaN     NaN     0.08
Past 5 Years (per annum)   7.50%       NaN     NaN      NaN